img{
    width: 200px;
    height: 200px;
    border: 2px dashed chartreuse  ;
    border-radius: 50%;

}
    
        h3{
        color: gold!important;
        text-align: justify;
        font-size: 50px; 
        }
        p{
            /* width: 50%; */
            text-align: justify;
            border: 1px solid red;
            margin-left: 50px;
          }
        body{
            background-color: cornflowerblue;
        }
        

     